<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Andrew Pierce</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><i class="fa fa-home"></i><a ui-sref="home" class="pure-menu-link">Home</a></li>
            <!-- <li class="pure-menu-item"><i class="fa fa-code"></i><a ui-sref="about" class="pure-menu-link">My Projects</a></li> -->
            <li class="pure-menu-item"><i class="fa fa-comments-o"></i><a ui-sref="contact" class="pure-menu-link">Contact</a></li>
        </ul>
    </div>
</div>
